* {
    box-sizing: border-box;
}

div {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border: 0 solid black;
    align-items: stretch;
    min-width: 0px;
    min-height: 0px;
    position: relative;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI '', Roboto, Helvetica, Arial, sans-serif;
}

body,
html,
#root {
    height: 100vh;
    width: 100vw;
}

svg {
    pointer-events: none;
}

.button--loading .button_text {
    visibility: hidden;
    opacity: 0;
}

.button_text {
    transition: all 0.2s;
}

.button--loading::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
